<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="~/fontawesome-pro-6.4.2-web/css/all.min.css">
    <link rel="stylesheet" href="~/css/Index.css">
</head>
<body>
    <div class="Header">
        <div class="Header_Title">Fairhill Villas</div>
        <div class="Header_Right_Content">
            <div><i class="fa-light fa-bell"></i></div>
            <div>
                <img src="~/DefaultAvatar.jpg" alt="DefaultAvatar">
            </div>
        </div>
    </div>
    <div class="Body">
        @await Component.InvokeAsync("MenuView")
        <div class="Content">
            @RenderBody()
        </div>
    </div>
    
    <Script src="~/js/Index.js"></Script>
</body>
</html>
